---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='help'>
	<main>
		<article>
			<h1>Help</h1>
			<p>
				Do you feel unwell, require medical support, experienced discrimination or conflicts? We are there for you! These are the teams you can reach out to to get help.
			</p>

			<h3>Awareness</h3>
			<p>
				DECT: AWRE (2973)<br/>
				Matrix: <a
					href='https://matrix.to/#/#HiP-Awareness-Public:milliways.info'
					title='HiP 2022 public Awareness Team Channel'
					rel='noopener noreferrer'
					target='_blank'
					>#HiP-Awareness-Public</a>
			</p>
			<p>
				The Awareness Team provides a point of contact for people to process experiences, resolve conflicts, and to create a safe and enjoyable atmosphere for all.
			</p>

			<h3>Safety and Security Team</h3>
			<p>
				DECT: SECU (7328)
			</p>
			<p>
				The Safety and Security Team is tasked with preventing behavioral conflicts and their escalation.  This team is also responsible for preventing hazards.  They are a friendly and firm reminder of our principles.  They may expel misbehaving lifeforms if an exceptional situation warrants it.
			</p>

			<h3>CERT</h3>
			<p>
				DECT: CERT (2378)
			</p>
			<p>
				The CERT (Chaos Emergency Response Team) consists of people who will help in case of sickness and minor injuries, and will call professional help if needed.  The CERT provides aid in all situations and emergencies that require professional attention.  The CERT is also tasked with fire prevention, as well as ensuring that escape path codes are observed.
			</p>
		</article>
	</main>
</Layout>
