---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Page not found'>
	<main>
		<img
			src='/404.gif'
			alt='Pixel art of a squirrel with 2 halves of a fiber cable that were chewed in half. Cable and small lightning strikes flashing'
		/>
		<h1>Page not found</h1>
		<p>It seems the squirrels got to the cable again.</p>
	</main>
</Layout>
