---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<article>
		<header>
			<div>
				<h1><img src='/logo.svg' alt='Hacking in Parallel ////' /></h1>
				<time>December 27-30 2022</time>
			</div>
		</header>
		<main>
			<section>
				<a
					href='https://pretix.hip-berlin.de/hip2022/hip2022/'
					rel='nofollower noreferrer'
					target='_blank'
				>
					<div class='tickets gradient-bg'>
						<h2>Get Tickets &rarr;</h2>
					</div>
				</a>
			</section>
			<section>
				<p>
					A part of our chaotic decentralized intergalactic community will be
					meeting in the rooms of "ETI Schauspielschule Berlin" at Hacking in
					Parallel//// this year.
				</p>
				<p>
					The ETI, 900m away from the bcc, is directly at the Spree, in
					Rungestr.20, 10179 Berlin, just above c-base. HiP is organized by
					AfRA, Bits & Trees, xHain, Milliways, freeside, openStudio, CCCB,
					c-base and other chaos-related entities and communities, in
					cooperation with Digitale Gesellschaft.
				</p>
				<p>
					Why? Because we want to! We want to meet again, exchange ideas and
					have fun, in presence and in compliance with a self-imposed obligation
					to wear a FFP2 mask inside "ETI Acting School Berlin". In addition, we
					assume that you can credibly assure us that you are vaccinated or
					recovered, no personal data will be stored.
				</p>
				<p>
					Together with the c-base (hall H) we have up to 3 stages and several
					rooms with space for workshops, assemblies/projects and your ideas.
					All talks on the stages can be recorded and streamed via <a
						href='https://media.ccc.de'>media.ccc</a
					>. We are looking forward to <a
						href='https://pretalx.c3voc.de/hip-berlin-2022/cfp'
						rel='nofollower noreferrer'
						target='_blank'>your submission</a
					>.
				</p>
				<p>
					We also need and welcome support during HiP. For our ACC "Angel
					Coordination Center" we have on the 5th floor, on the roof, a nice big
					room with terrace and view over Berlin available as Heaven. Just
					register in our <a href='https://engelsystem.hip-berlin.de/'
						>Angel Coordination Center</a
					>.
				</p>
				<p>
					Regular Tickets cost 79.-€, are valid for all 4 days of the event and
					can be <a
						href='https://pretix.hip-berlin.de/hip2022/hip2022/'
						rel='nofollower noreferrer'
						target='_blank'>clicced here</a
					>.
				</p>
			</section>
			<section>
				<h2>Location</h2>
				<div>
					<address>
						<h2>ETI Schauspielschule</h2>
						Rungestraße 20<br />
						10179 Berlin
					</address>
				</div>
			</section>
		</main>
	</article>
</Layout>

<style lang='scss'>
	header {
		width: 100%;
		padding: 1.5rem;
		min-height: 50vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	h1 {
		display: block;
		font-size: 6.4ch;
		line-height: 1.1;
		color: var(--headline-color);
		img {
			max-width: 100%;
		}
	}
	section {
		margin-bottom: 4rem;
	}
	.tickets {
		width: 100%;
		@media screen and (min-width: 1024px) {
			margin: 0 -1.5rem 3rem;
			width: calc(100% + 3rem);
		}
		text-align: center;
		a {
			color: var(--background);
		}
		h2 {
			font-size: 2rem;
			@media screen and (min-width: 1024px) {
				font-size: 2.2rem;
			}
			line-height: 1.2;
			margin: 0;
			color: #000;
		}
	}
	time {
		font-size: 3.2ch;
	}
	address {
		font-style: normal;
	}
</style>
