---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Privacy'>
	<main>
		<article>
			<h1>Design Resources</h1>
			<p>Thank you for taking a look at this page!</p>
			<p>
				Should you need any additional resources feel free to join the
				HiP-Design channel of our Matrix space.
			</p>
			<section>
				<h2>Logos</h2>
				<!-- foo -->
			</section>
		</article>
	</main>
</Layout>
