---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Imprint'>
	<main>
		<article>
			<h1>Imprint</h1>
			<p>
				Digitale Gesellschaft e. V.<br />Groninger Straße 7<br />13347 Berlin<br
				/>Tel.: 030/450 840 18<br />info (at) digitalegesellschaft.de (<a
					href='https://keys.openpgp.org/vks/v1/by-fingerprint/9BC0D0A167100BF10211CE464AA70F104ACBAFB9'
					>PGP</a
				>)
			</p>
			<h3>Kontoverbindung</h3>
			<p>Digitale Gesellschaft e. V.<br />IBAN: DE 88 4306 0967 1125 0128 00</p>
			<p>
				GLS-Bank,<br />Konto-Nr: 1125012800<br />BLZ: 430 609 67<br />BIC:
				GENODEM1GLS
			</p>
			<h3>Vertretungsberechtigter Vorstand</h3>
			<p>Elke Steven<br />Rüdiger Weis<br />Benjamin Wolf</p>
			<p>
				Digitale Gesellschaft <abbr title='eingetragener Verein'>e. V.</abbr> ist
				mit dem Aktenzeichen VR 30591 B beim Amtsgericht Berlin-Charlottenburg eingetragen
				und vom Finanzamt als gemeinnützig anerkannt.
			</p>
			<p>
				<a href='http://digitalegesellschaft.de/uber-uns/satzung/'
					>Satzung des Vereins</a
				>
			</p>
			<h3>Verantwortlich für den Inhalt</h3>
			<p>(nach § 55 Abs. 2 RStV)</p>
			<p>
				Tom Jennissen und Sebastian Marg<br />Digitale Gesellschaft e. V.<br
				/>Groninger Straße 7<br />13347 Berlin
			</p>
		</article>
	</main>
</Layout>
