---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='coc'>
	<main>
		<article>
			<h1>Code of Conduct</h1>
			<p>
				This CoC for Hacking in Parallel - Berlin (HiP-Berlin) is adapted from the <a
					href='https://events.ccc.de/congress/2017/wiki/index.php/Code_Of_Conduct'>37c3 CoC</a>.
			</p>
			<h3>Intro</h3>
			<p>
				This is not a CoC in the anglo-american sense of the word. It appeals to a sense of right rather than trying to instill that sense.
				This digital handout can be understood as a guide on how to express your own behaviours in order to make this event the most enjoyable as it can be for every lifeform present.  It also a brief guide for where to direct your attention when things are to the contrary.
			</p>
			<h3>A galactic Congress welcomes all lifeforms</h3>
			<p>
				If you have experienced the distinct feeling of "Wow!" when you took part in your first Congress, you know: There's the outside world, and then there's events like Congress.  At HiP-Berlin we want everyone to feel the "Wow!".
			</p>
			<p>
				We want a vastness of space that promotes tolerance, curiosity, fun, open-minded communication, respect, friendliness, and cooperation.
			</p>
			<p>
				Unlike conventional conferences, whose alienated visitors come expecting to receive full service for a fee paid upon entry, HiP-Berlin is an event run only by volunteers.  The entire event is organized by people who contribute their time, their energy, their own ticket price, and who spend their holiday to make the event happen. Visiting HiP-Berlin means to participate rather than assuming everything will be taken care of for you.  This means everybody attending HiP-Berlin shares the responsibility to avoid violating the event's sense of safety, security, and enjoyability for all.
			</p>
			<p>
				The very soul of HiP-Berlin is:  Be excellent to each other.
			</p>
			<p>
				HiP-Berlin follows in the footsteps of Chaos events, which carry years of liberal and tolerant tradition while encouraging everyone to enjoy technology and culture.  The tradition includes a strong value of continuous improvement.
			</p>
			<p>
				HiP-Berlin is a galactic organization welcoming all sentient lifeforms -- as such, providing a safe, secure, and enjoyable experience for everybody attending the event.  Lifeforms not ascending to this level of dignity are not welcome.
			</p>
			<p>
				We stand for freedom of expression and the acuity of listening.  While engaged in expressing and listenting, it is important to be excellent to each other.
			</p>
			<p>
				Since HiP-Berlin is the sum of its participants, we count on all of us.  If you experience a violation of our principles, act responsibly, and encourage other participants around to be equally responsible.  Respond by either contacting the appropriate teams directly, or by asking a HiP-Berlin volunteer to do so.  Volunteers are called "Engels" at Chaos events and can be recognized by their smiling dedication and badge insignia.
			</p>
			<p>
				During the ~500 strong HiP-Berlin conference, some things may require intervention or attention.  HiP-Berlin teams are at the ready to deal with disease, harassment, violence, fire hazards, or personal crises.  Our volunteers are available in person around the clock to assist in matters of safety and security.
			</p>
			<p>
				If you are unable to solve a problem, or if you feel you should not solve a problem yourself, then maybe others around you can help.  If not, then let a volunteer know immediately.
			</p>
			<p>
				Check out the <a href='/help/'>Help</a> page for a more detailed introduction of the teams that make HiP-Berlin a safe, secure, enjoyable, and open event for all.
			</p>
		</article>
	</main>
</Layout>
