---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Privacy'>
	<main>
		<article>
			<h1>Datenschutzerklärung</h1>
			<p>
				Liebe Besucherinnen und Besucher von
				<a
					href='https://hip-berlin.de'
					rel='nofollower noreferrer'
					target='_blank'
				>hip-berlin.de</a>,
			</p>



			<p>
				wir möchten euch mit dieser Erklärung so genau und verständlich wie möglich darüber informieren, welche personenbezogenen Daten wir auf dieser Webseite zu welchen Zwecken, für welche Dauer und durch welche Anbieter erhoben, gespeichert oder anderweitig verarbeiten. Daher sind wir auch fortwährend bemüht, diese Erklärung weiter zu verbessern und auf unserer Seite möglichst datenschutzfreundliche Technologien einzusetzen. Wir freuen uns daher über Hinweise, Kommentare und Vorschläge zur Verbesserung unserer Datenschutzerklärung und Datenschutzstandards, welche uns jederzeit über die E-Mail-Adresse
				<a
					href='mailto:info@digitalegesellschaft.de'
					rel='nofollower noreferrer'
					target='_blank'
				>info@digitalegesellschaft.de</a>
				info@digitalegesellschaft.de zugesandt werden können. Der dazugehörige PGP-Key für eine verschlüsselte Übersendung von Mails ist
				<a
					href='https://keys.openpgp.org/vks/v1/by-fingerprint/9BC0D0A167100BF10211CE464AA70F104ACBAFB9'
					rel='nofollower noreferrer'
					target='_blank'
				>hier</a>
				zu finden.
			</p>

			<h3>
				1. Bereitstellung der Webseite/Hosting
			</h3>

			<p>
				Die Webseite HiP-Berlin.de wird vom Digitale Gesellschaft e.V. bereitgestellt und selbst gehostet.
			</p>

			<p>
				HiP-Berlin.de ist eine statische Seite ohne Cookies. Nginx Logs werden anonymisiert (ipv4 /24 and ipv6 /48).  useragent, path, method, datetime werden zur Fehlerbehebung im standard web log gespeichert.
			</p>

			<h3>
				2. Angabe personenbezogener Daten auf der Webseite und Kontaktaufnahme per E-Mail
			</h3>

			<p>
				Unsere Webseite bietet die Möglichkeit, mit uns in Kontakt zu treten und dabei personenbezogene Daten anzugeben. Besucherinnen und Besucher der Webseite können per E-Mail Kontakt mit uns aufnehmen. Die Angabe personenbezogener Daten in diesen Zusammenhängen erfolgt freiwillig.
			</p>


			<h4>
				a. Kontaktaufnahme per E-Mail
			</h4>

			<p>
				Im Falle einer Kontaktaufnahme per E-Mail werden die verwendete E-Mail-Adresse sowie der Text der Mail an uns übermittelt. Wir speichern diese Angaben zum Zweck der Beantwortung der Mails sowie für eine spätere individuelle Kontaktaufnahme, nicht aber für die Übersendung von Newslettern, Infomaterialien oder Spendenaufrufen.
			</p>

			<h4>
				b. Persönliche Daten zur Abwicklung des Ticket- und Merchandising-Verkaufs
			</h4>

			<p>
				Auf der Seite
					<a
					href='https://pretix.hip-berlin.de/hip2022/hip2022/'
					rel='nofollower noreferrer'
					target='_blank'
				>https://pretix.hip-berlin.de/hip2022/hip2022/</a>
				eingegebene Daten werden nur zur Abwicklung des Verkaufs gespeichert und nach der Veranstaltung gelöscht.
			</p>

			<h3>
				3. Verantwortliche und Betroffenenrechte
			</h3>

			<p>
				Verantwortliche Stelle für die Datenverarbeitung im Sinne der DSGVO ist der vertretungsberechtigte Vorstand des Digitale Gesellschaft e.V.:
			</p>

<pre>
	<a>Benjamin Wolf, Elke Steven, Rüdiger Weis</a>
	<a>Digitale Gesellschaft e. V.</a>
	<a>Groninger Str. 7</a>
	<a>13347 Berlin</a>
	<a
		href='tel:+49 (0)30 97894230'
		rel='nofollower noreferrer'
		target='_blank'
	>+49 (0)30 97894230</a>
	<a
		href='mailto:vorstand@digitalegesellschaft.de'
		rel='nofollower noreferrer'
		target='_blank'
	>vorstand@digitalegesellschaft.de (PGP)</a>
</pre>

			<p>
				Besucherinnen und Besucher unserer Webseite haben das Recht, Auskunft über die Verarbeitung ihrer personenbezogenen Daten zu erhalten. Ebenso stehen ihnen Rechte auf Berichtigung, Löschung und Einschränkung der Verarbeitung zu. Außerdem haben sie ein Recht auf Widerspruch gegen die Verarbeitung ihrer personenbezogenen Daten, ein Recht auf Datenübertragbarkeit sowie – im Fall von Datenschutzverstößen – ein Recht auf Beschwerde bei einer Aufsichtsbehörde. Zu all diesen Rechten finden Besucherinnen und Besucher Erläuterungen und Musterschreiben in dem vom uns betriebenen Informationsportal Deine Daten. Deine Rechte.
			</p>

			<p>
				Stand der Datenschutzerklärung: November 2022
			</p>
		</article>
	</main>
</Layout>
