---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Privacy'>
	<main>
		<article>
			<h1>Informationen zum Datenschutz</h1>

			<h3>
				1. Bereitstellung der Website (Hosting)
			</h3>

			<p>
				Die Webseite
				<a
					href='https://hip-berlin.de/'
					rel='nofollower noreferrer'
					target='_blank'
				>hip-berlin.de</a>
				wird vom Digitale Gesellschaft e. V. (uns) bereitgestellt.
			</p>

			<p>
				<a
					href='https://hip-berlin.de/'
					rel='nofollower noreferrer'
					target='_blank'
				>hip-berlin.de</a>
				ist eine statische Seite ohne Cookies. Bei jedem Zugriff auf die Webseite speichern wir die die technisch anfallenden Zugriffsdaten in anonymisierter Form als Protokolldaten (Weblogs). Diese Datenverarbeitung findet automatisiert statt und ist nötig für die Bereitstellung und die Sicherheit des Webangebots sowie dessen Verbesserung.
			</p>


			<p>
				Rechtsgrundlage: Artikel 6 Abs. 1 Buchst. f Datenschutz-Grundverordnung (DSGVO).
			</p>


			<h3>
				2. Kontaktaufnahme per E-Mail
			</h3>

			<p>
				Wenn wir per E-Mail kontaktiert werden, speichern wir die verwendete E-Mail-Adresse sowie den Text der E-Mail. Wir speichern diese Angaben zum Zweck der Beantwortung der E-Mails. Wir speichern die Daten nur solange, wie wir diese zur Beantwortung Ihrer Anfrage benötigen. Je nach Gegenstand der E-Mail kann darüber hinaus eine Aufbewahrung im Rahmen gesetzlicher Fristen erforderlich sein.
			</p>

			<p>
				Rechtsgrundlage: Die Rechtsgrundlage kann je nach Gegenstand der E-Mail variieren und entweder  zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen (Art. 6 Abs. 1 Buchst. b DSGVO) oder auf Basis unseres berechtigten Interesses zur Bearbeitung von Anfragen erfolgen (Art. 6 Abs. 1 Buchst. F DSGVO).
			</p>

			<h3>
				3. Ticket- und Merchandising-Verkauf
			</h3>

			<p>
				Für den Ticket und Merchandising-Verkauf gibt es
				<a
					href='https://pretix.hip-berlin.de/hip2022/hip2022/page/privacy-policy/'
					rel='nofollower noreferrer'
					target='_blank'
				>eine eigene Website mit eigenen Datenschutzhinweisen</a>.
			</p>

			<h3>
				4. Verantwortliche und Betroffenenrechte
			</h3>

			<p>
				Verantwortliche Stelle für die Datenverarbeitung im Sinne der DSGVO ist der vertretungsberechtigte Vorstand der Digitalen Gesellschaft e.V.:
			</p>

<pre>
	<a>Benjamin Wolf, Elke Steven, Rüdiger Weis</a>
	<a>Digitale Gesellschaft e. V.</a>
	<a>Groninger Str. 7</a>
	<a>13347 Berlin</a>
	<a
		href='tel:+49 (0)30 97894230'
		rel='nofollower noreferrer'
		target='_blank'
	>+49 (0)30 97894230</a>
	<a
		href='mailto:info@digitalegesellschaft.de'
		rel='nofollower noreferrer'
		target='_blank'
		style="display: inline;"
		>info@digitalegesellschaft.de</a><a
	href='https://keys.openpgp.org/vks/v1/by-fingerprint/9BC0D0A167100BF10211CE464AA70F104ACBAFB9'
	rel='nofollower noreferrer'
	target='_blank'
	style="display: inline;"
	> (PGP)</a>
</pre>

			<p>
				Besucherinnen und Besucher unserer Webseite haben das Recht, Auskunft über die Verarbeitung ihrer personenbezogenen Daten zu erhalten. Ebenso stehen ihnen Rechte auf Berichtigung, Löschung und Einschränkung der Verarbeitung zu. Außerdem haben sie ein Recht auf Widerspruch gegen die Verarbeitung ihrer personenbezogenen Daten, ein Recht auf Datenübertragbarkeit sowie – im Fall von Datenschutzverstößen – ein Recht auf Beschwerde bei einer Aufsichtsbehörde.
			</p>

			<p>
				Stand der Datenschutzerklärung: November 2022
			</p>
		</article>
	</main>
</Layout>
