---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Privacy'>
	<article>
		<h1>Privacy</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, eius
			nostrum harum quo eligendi rerum ipsam, officia laboriosam sapiente non
			perspiciatis excepturi ex quaerat cum aut. Dolore optio repudiandae
			tempora!
		</p>
	</article>
</Layout>
